@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NL:wght@100..400&display=swap');
:root {
  --primary-color: #a855f7;
  --primary-color-dark: #9333ea;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--extra-light);
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
  font-family:"Playwrite NL", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}

nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  background-color: var(--extra-light);
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.hire__me {
  background-color: var(--primary-color);
  color: #ffffff;
}

.hire__me:hover {
  background-color: var(--primary-color-dark);
}

.portfolio {
  color: var(--primary-color);
}

.portfolio:hover {
  background-color: var(--primary-color-dark);
  color: #ffffff;
}

.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
/* Navbar ends */

/* Hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.hero img {
  height: 37.5rem;
  width: 37.5rem;
}

.bio {
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}
/* Hero section ends */

/* More about
.more-about {
  background-color: var(--bg-color);
  padding: 1rem 6rem;
}

.more-about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.more-about p {
  line-height: var(--line-height);
  padding: 0.4rem;
} */
/* More about ends */

/* Skills section */
.skills {
  max-width: 68.75rem;
  margin: 4rem auto 0; /* Adjusted margin-top to move it higher */
  background-color: var(--extra-light);
  text-align: center;
  padding: 2rem 1rem; /* Added padding for spacing */
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Center items horizontally */
}

.icon-card {
  background-color: #ffffff; /* Background color */
  border: 2px solid var(--primary-color); /* Border color */
  padding: 20px; /* Padding around each icon */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Box shadow for depth */
  width: 200px; /* Fixed width for each card */
  height: 200px; /* Fixed height for each card */
  text-align: center; /* Center text/icons inside the card */
  margin-bottom: 20px; /* Spacing between cards */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and box-shadow properties */
}

.icon-card:hover {
  transform: translateY(-5px); /* Move up slightly on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced box shadow on hover */
}

.icon-card img {
  max-width: 100%; /* Ensure image fits within the card */
  height: auto; /* Maintain aspect ratio */
  display: block;
}



/* Skills section ends */

/* Projects section */
.projects {
  background-color: var(--extra-light);
  padding: 32px 0;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
  transition: transform 0.3s ease; /* Smooth transition for transform property */
}

.project-container:hover {
  transform: translateY(-5px); /* Move container up by 5px on hover */
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin); /* Make sure --bottom-margin is defined elsewhere */
}

.project-details {
  margin-bottom: var(--bottom-margin); /* Make sure --bottom-margin is defined elsewhere */
}

/* Projects section ends */

/* Contacts section */
.contact {
  margin-top: 6rem; /* Adjusted margin-top to position lower on the page */
  font-family: "Poppins", sans-serif
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  font-family: "Poppins", sans-serif
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
  font-family: "Poppins", sans-serif
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
  font-family: "Poppins", sans-serif
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
  font-family: "Poppins", sans-serif;

  padding-left: 5px; /* Adjust the left padding to move text more to the right */

}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
  font-family:  "Poppins", sans-serif;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
  font-family: "Poppins", sans-serif;
}

.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}
/* Contacts section ends */
/* Social buttons */
/* Social icons at the bottom */
.socials {
  display: flex;
  justify-content: center; /* Center icons horizontally */
  align-items: center; /* Center icons vertically */
  position: relative; /* Keep it relative to its container */
   /* Adjust margin from the content above */
  padding: 20px 0; /* Padding around icons */
  /* Background color for contrast */
}

.socicon {
  width: 2rem; /* Adjust icon size */
  height: 2rem;
  margin: 0 10px; /* Adjust spacing between icons */
}
/* Social button ends */

/* Scroll to top button */
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}
/* Scroll to top button ends */

/* Footer section */
footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}
/* Footer section ends */

/* General (utilities) */
.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.project-title, .project-details {
  transition: color 0.3s;
}


.project-card:hover .project-title,
.project-card:hover .project-details {
  color: var(--primary-color);
}

.project-container a:visited {
  color: inherit;
}

/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
    height: 37.5rem;
    width: 30rem;
  }

  .bio {
    margin-top: -7rem;
    width: 20.5rem;
  }
  

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  .contact-form-container {
    max-width: 23.75rem;
  }
}

/* About section styles */
.about {
  /* Light background color for contrast */
  padding: 30px 20px; /* Padding around the content */
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: flex-start; /* Align items to the start (top) */
  min-height: 50vh; /* Full height section */
  box-sizing: border-box; /* Include padding in the height calculation */
}

.about-container {
  background-color: #ffffff; /* White background for the box */
  padding: 30px; /* Padding inside the box */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  max-width: 800px; /* Maximum width of the box */
  text-align: center; /* Center align text inside the box */
  margin-top: 50px; /* Add margin to the top to position it higher */
  color: inherit;
}

.about-container h2 {
  font-size: 2em; /* Larger font size for the heading */
  margin-bottom: 20px; /* Space between heading and text */
  font-weight: bold; /* Bold font for the heading */
}

.about-container p {
  font-size: 1.2em; /* Larger font size for the text */
  color: #333; /* Darker text color for readability */
  line-height: 1.6; /* Line height for better readability */
  color: inherit;
}

.about-container a {
  color: blue; /* Inherit color from parent (default color) */
  text-decoration: none; /* Remove underline */
}




@media screen and (max-width: 420px) {
  .hero img {
    height: 37.5rem;
    width: 23rem;
  }

  .bio {
    width: 18.3rem;
  }

  .project-container {
    width: 17.875rem;
  }

  .contact-form-container {
    max-width: 17.75rem;
  }
}


@media (max-width: 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }
}
